h1, p {
  font-family: Lato;
}
.box{
  height:400px;
  width:400px;
  border:1px solid navy;

}
.img{
  height: 300px;
  width:300px;
  margin:0 auto;
  margin-top:20px;
  border:1px solid black;
}
.para{
  float:left;
  margin-left: 50px;
}
.para2{
  float:right;
 margin-right: 100px;
}
